.register {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    width: 49%;
    height: auto;
    position: absolute;
    float: left;
    margin-left: 24%;
    margin-top: 4.07%;
    box-shadow: #444 0px 0px 70px;
}
.registerAndSignin {
    display: flex;
    text-align: center;
}
.registerNewCoustumer {
    margin-top: 0px;
    font-size: 100%;
    line-height: 237%;
}
.signIn {
    padding-top: 5px;
    margin-top: 0px;
    line-height: 205%;
    cursor: pointer;
    font-size: 100%;
    background-color: black;
    color: white;
}
.signin {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    box-shadow: #444 0px 0px 70px;
    width: 49%;
    height: auto;
    position: absolute;
    float: left;
    margin-left: 24%;
    margin-top: 4.07%;
    display: none;
}
.signinAndRegister {
    display: flex;
    text-align: center;
}
.signInOldUser {
    padding: 5px;
    cursor: pointer;
    padding-top: 2.6%;
    font-size: 100%;
}
.backToRegister {
    padding-top: 5px;
    margin-top: 0px;
    line-height: 205%;
    font-size: 100%;
    background-color: black;
    color: white;
}
.stepsToFill {
    width: 25px;
    opacity: 0.6;
    height: 25px;
    margin-left: 41%;
    border: gray solid 1px;
    border-radius: 25px;
}
.centerTheNumber {
    line-height: 26px;
    margin-left: 8px;
}
.detailOfInput {
    margin-left: 10%;
}
.inputOfRegister {
    display: inline-block;
}
.displayFlexColumn {
    display: flex;
    flex-direction: column;
}
.dispalyFlex {
    display: flex;
}
.rowOfInput {
    margin-top: 5%
}
.submitForm {
    background-color: black;
    color: white;
    border: none;
    margin-left: 68%;
    height: 34px;
    width: 24%;
    margin-top: 5px;
    margin-bottom: 5%;
    cursor: pointer;
}
.dateInput {
    width: 108%;
}
.centerTheNumber10 {
    line-height: 26px;
    margin-left: 4px;
}
.hideTheV {
    display: none;
}
.hideTheX {
    display: none;
}
.moveTheV {
    margin-left: 7%;
}
.moveThex {
    margin-left: 7%;
}
.emailInUse {
    font-size: 73%;
    color: red;
    display: none;
}
.logInWhenEmailIsInUse {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}
.userNameInUse {
    font-size: 73%;
    color: red;
    display: none;
}
.logInWhenUserNameInUse {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}
.submitLogIn {
    background-color: black;
    color: white;
    border: none;
    margin-left: 68%;
    height: 34px;
    width: 24%;
    margin-top: 5px;
    margin-bottom: 5%;
    cursor: pointer;
}
.noSuchAccount {
    display: none;
    color: red;
    text-align: center;
}
.notAlltInputsCoract {
    display: none;
    color: red;
    text-align: center;
}
.passwordShowInput {
    width: 9px;
}
.passwordShowWords {
    font-size: 10px;
}
@media screen and (max-width: 650px) {
    .signin {
        width: 94%;
        margin-left: 3%;
    }
    .register {
        width: 94%;
        margin-left: 3%;
    }
}
