.carOptionArea1 {
    display: flex;
    width: 76%;
    height: auto;
    margin-top: 1%;
    margin-left: 12%;
    position: relative;
}
.minicars {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
}
.luzaryCars {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    margin-left: 3%;
}
.suvCars {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
}
.fullSizeCars {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    margin-left: 3%;
}
.carOptionArea2 {
    display: flex;
    width: 76%;
    height: auto;
    margin-top: 1%;
    margin-left: 12%;
    position: relative;
}
.sameHeightForAll {
    height: 358px;
    border-radius: 14px;
    cursor: pointer;
}
.centerAndBig {
    font-size: 164%;
    margin-top: 2%;
    color: white;
    background-color: rgb(87, 115, 255);
    margin-left: 5.8%;
    padding: 4px;
    border-radius: 11px;
    display: inline-block;
}
.fitTheImage {
    width: 88%;
    height: 258px;
    border-radius: 68px;
    margin-left: 5.8%;
    margin-top: 2%;
}
.divForImage {} .carNameAndImages {
    display: flex;
    width: 89.8%;
    margin-left: 5.8%;
}
.fitTheSmallImages {
    width: 86%;
    border-radius: 10px;
    height: 36px;
}
.carNameAndModel {
    line-height: 187%;
    font-size: 130%;
    text-align: center;
}
.popUpAlert {
    display: none;
    position: fixed;
    color: black;
    background-color: rgb(82, 80, 80);
    width: 520px;
    height: 204px;
    text-align: center;
    border-radius: 52px;
    z-index: 100;
    margin-left: 27%;
    margin-top: 14%;
}
.popUpAlertStyles {
    margin-top: 9%;
    font-size: 22px;
}
.dispayTheButtons {
    display: flex;
    margin-top: 4%;
}
.goBackToSelectSize {
    background-color: black;
    color: white;
    border: none;
    height: 33px;
    width: 24%;
    border-radius: 25px;
    cursor: pointer;
    float: right;
}
.continueButton {
    text-align: left;
    margin-left: 4%;
}
.continuToChooseExactCar {
    background-color: black;
    color: white;
    border: none;
    height: 33px;
    width: 48%;
    cursor: pointer;
    border-radius: 25px;
}
.TypeOfCar {
    color: red;
}
.opa {
    opacity: 0.3;
}
.status {
    margin-left: 25%;
}
.stepsConector {
    display: inline-block;
    width: 14px;
    height: 5px;
    position: relative;
    margin-left: -4px;
    background-color: black;
    margin-right: -5px;
}
.singlStatusStage {
    margin-top: 1%;
    position: relative;
    color: black;
    padding: 1%;
    opacity: 0.4;
    display: inline-block;
    font-size: 14px;
    background-color: white;
}
.stepPageThatYouAreOn {
    opacity: 1;
    color: rgb(87, 115, 255);
}
.stepPageDone {
    color: green;
}
.statusIfClientCameFromHomePage {
    margin-left: 25%;
    display: none;
}
.fromPriceAday {
    font-size: 103%;
    margin-top: 3%;
    color: white;
    background-color: rgb(158, 156, 156);
    display: inline-block;
    padding: 4px;
    border-radius: 11px;
    float: right;
    margin-right: 4%;
}
.xToGoBack {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    display: inline-block;
    float: left;
    border-radius: 20px;
    margin-left: 11px;
    line-height: 22px;
    cursor: pointer;
}
@media screen and (max-width: 650px) {
    .carOptionArea1 {
        display: block;
    }
    .fullSizeCars {
        margin-left: 0%;
    }
    .carOptionArea2 {
        display: block;
    }
    .sameHeightForAll {
        margin-top: 4%
    }
    .mainImage {
        height: 1619px
    }
    .theWholePage {
        height: 1699px
    }
    .popUpAlert {
        margin-left: 14%;
        width: 70%
    }
    .dispalyNoneUnder650px {
        visibility: hidden;
        display: none;
    }
}
.title {
    display: none;
    position: absolute;
    background-color: rgb(87, 115, 255);
    color: white;
    padding: 5px;
    border-radius: 20px;
}
