.websiteDetails {
    float: right;
    margin-right: 7%;
    margin-top: 4.5%;
    width: 42%;
    text-align: center;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: 700px;
}
.boxses {
    flex: 1;
    border-radius: 25px;
    margin-bottom: 30px;
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    box-shadow: #444 0px 0px 70px;
}
.orderForm {
    text-align: center;
}
.enterDate {
    margin: 7px;
}
.bookACar {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    width: 38%;
    height: auto;
    position: absolute;
    float: left;
    margin-left: 7%;
    margin-top: 4.3%;
    box-shadow: #444 0px 0px 70px;
}
.bookAcar2 {
    padding: 5px;
    cursor: pointer;
    padding-top: 2.6%;
    background-color: black;
    color: white;
    font-size: 100%;
}
.bookModify2 {
    display: flex;
    text-align: center;
}
.modify2 {
    padding-top: 5px;
    margin-top: 0px;
    line-height: 205%;
    font-size: 100%;
}
.modifyBook {
    display: flex;
    text-align: center;
}
.modifyReservation {
    background-image: url(https://images.hertz.com/rac/misc/white85p_400x400.png);
    box-shadow: #444 0px 0px 70px;
    width: 38%;
    height: auto;
    position: absolute;
    float: left;
    margin-left: 7%;
    margin-top: 4.3%;
    display: none;
}
.hideMe {
    display: none;
}
.bookAcar {
    margin-top: 0px;
    font-size: 100%;
    line-height: 237%;
}
.modify {
    padding-top: 5px;
    margin-top: 0px;
    line-height: 205%;
    cursor: pointer;
    font-size: 100%;
    background-color: black;
    color: white;
}
.bookModify {
    display: flex;
    text-align: center;
}
.selectLocation {
    width: 70%;
    margin-top: 1%;
}
.bookingForm {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.bookingFormContainer {
    width: 80%;
    height: 350px;
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
}
.step1 {
    background: url(https://images2.hertz.com/rac/misc/icons-s2ee2667ad4.png);
    background-position: 0 -291px;
    height: 34px;
    width: 34px;
    margin-left: 25%;
    margin-top: 32%;
}
.step2 {
    background: url(https://images2.hertz.com/rac/misc/icons-s2ee2667ad4.png);
    background-position: -55px -325px;
    height: 34px;
    width: 34px;
    margin-left: 25%;
    margin-top: 61%;
}
.step3 {
    background: url(https://images2.hertz.com/rac/misc/icons-s2ee2667ad4.png);
    background-position: -34px -291px;
    height: 34px;
    width: 34px;
    margin-left: 25%;
    margin-top: 33%;
}
.borderToDivide {
    border-bottom: rgb(211, 199, 199) solid 1px;
}
.dispalyFlex {
    display: flex;
}
.vColor {
    color: green;
}
.moneyBack {
    height: 16%;
    width: 36%;
    position: absolute;
    margin-left: 28%;
    margin-top: -8%;
    transform: rotate(21deg);
}
.location {
    margin-top: 5%;
}
.pickUpAndReturnDates {
    margin-top: 4%;
}
.pickUpDate {
    margin-top: 1%;
    margin-bottom: 2%;
    width: 38%;
}
.returnDate {
    margin-top: 1%;
    width: 38%;
}
.carType {
    margin-top: 5%;
}
.selectTheCar {
    margin-top: 1%;
    width: 41%;
}
.submitOrder {
    background-color: black;
    color: white;
    border: none;
    margin-left: 70%;
    height: 34px;
    width: 24%;
    margin-top: -11px;
    cursor: pointer;
}
.bold {
    font-weight: 600;
}
.slideToWelcomeClient {
    color: red;
    width: 150%;
    height: 55px;
    margin-top: 4%;
    text-align: center;
    font-size: 182%;
    line-height: 55px;
    display: none;
    margin-left: -22%;
}
.noOpacity {
    opacity: 1;
}
.returnToDiffrentLocationInput {
    font-size: 81%;
    line-height: 33px;
}
.selectBoxIfReturnToDiffrentLocation {
    display: none;
}
.pickUpHour {
    height: 22px;
}
.returnHour {
    height: 22px;
}
.warning {
    color: red;
    text-align: center;
    display: none;
}
.resevationsArea {} .reservationHeader {
    text-align: center;
    font-size: 33px;
}
.headOfDetails {
    display: flex;
    text-align: center;
    margin: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.details {
    flex: 2;
}
.detailsPrice {
    flex: 1;
}
.headerMoreCss {
    font-weight: 600;
}
@media screen and (max-width: 650px) {
    .websiteDetails {
        margin-top: 518px;
        width: 88%;
        margin-left: 6%;
    }
    .bookACar {
        width: 88%;
        margin-left: 6%;
        margin-top: 2.3%;
    }
    .modifyReservation {
        width: 88%;
        margin-left: 6%;
        margin-top: 2.3%;
    }
    .slideToWelcomeClient {
        margin-top: 10%;
        font-size: 23px;
        margin-left: 0%;
    }
}
@media screen and (max-device-width: 400px) {
    .websiteDetails {
        margin-top: 641px;
        width: 88%;
        margin-left: 6%;
    }
    .bookACar {
        width: 88%;
        margin-left: 6%;
        margin-top: 2.3%;
    }
    .modifyReservation {
        width: 88%;
        margin-left: 6%;
        margin-top: 2.3%;
    }
    .slideToWelcomeClient {
        margin-top: 10%;
        font-size: 23px;
        margin-left: 0%;
    }
}
.showOnlyIfLogdIn {
    display: none;
}
.showOnlyIfLogdOut {
    text-align: center;
    text-align: center;
    margin: 8%;
    height: 355px;
}
.noMargin {
    margin: 0;
}
.showOnlyIfClientHasReservation {
    display: none;
}
